
.idea
*.iml

.DS_Store

.gitmodules
develop
staging
production

/.config/environment
/environments
/instances

dependencies.*
dependency-*.*
/venv_*

x

/*.yml
/*.yaml
/library/hello_world.py
/library/version_change.py
/library
/roles
